{{- block icon(name, class="svgicon", svgClass="") -}}
<span class="{{ class }}"><svg xmlns="http://www.w3.org/2000/svg"
viewbox="0 0 100 100" class="inline-block w-4 h-4 {{ svgClass }}"><use
href="{{ assetURL(`img/icons.svg`) }}#{{ name }}"></use></svg></span>
{{- end -}}

{{- block csrfField() -}}
<span style="display:none;"><input type="hidden" name="{{ csrfName }}" value="{{ csrfToken }}"></span>
{{- end -}}

{{- block message(type="info") -}}
{{- icon := "o-info" -}}
{{- color := "bg-blue-700" -}}
{{- if type == "success" -}}
  {{- icon = "o-check-on" -}}
  {{- color = "bg-green-700" -}}
{{- else if type == "error" -}}
  {{- icon = "o-error" -}}
  {{- color = "bg-red-800" -}}
{{- end -}}
<div class="flex overflow-hidden bg-white rounded-lg shadow-md my-6 w-full max-w-xl">
  <div class="flex items-center justify-center w-12 text-white {{ color }}">
    {{- yield icon(name=icon) -}}
  </div>
  <div class="p-4 flex-grow {{ color }} bg-opacity-5">
    {{- yield content -}}
  </div>
</div>
{{- end -}}

{{- block flashes() -}}
{{ range flashes }}
  {{- yield message(type=.Type) content -}}
    <strong>{{ .Message }}</strong>
  {{- end -}}
{{ end }}
{{- end -}}

{{- block spinner() -}}
{{ yield icon(name="o-spinner", svgClass="animate-spin stroke-current")}}
{{- end -}}
