{{- if .TotalPages > 1 -}}
  <nav class="pgn my-4">
    {{- if .PreviousPage -}}
      <a href="{{ .PreviousPage }}" class="pgn-prev">Previous</a>
    {{- end -}}
    {{- if .NextPage -}}
      <a href="{{ .NextPage }}" class="pgn-next">Next</a>
    {{- end -}}

    <ul class="pagination-list">
    {{- current := .CurrentPage -}}
    {{- range .PageLinks -}}
      <li>
      {{- if .Index == current -}}
        <span class="pgn-current">{{ .Index }}</span>
      {{- else if .Index != 0 -}}
        <a href="{{ .URL }}" aria-label="Go to page {{ .Index }}">{{ .Index }}</a>
      {{- else -}}
        <span>&hellip;</span>
      {{- end -}}
      </li>
    {{- end -}}
    </ul>
  </nav>
{{- end -}}
