{{- if .TotalPages > 1 -}}
  <nav class="pagination">
    {{- if .PreviousPage -}}
      <a href="{{ .PreviousPage }}" class="pagination-previous">Previous</a>
    {{- end -}}
    {{- if .NextPage -}}
      <a href="{{ .NextPage }}" class="pagination-next">Next</a>
    {{- end -}}

    <ul class="pagination-list">
    {{- current := .CurrentPage -}}
    {{- range .PageLinks -}}
      {{- class := "pagination-link" -}}
      {{- if .Index == current -}}
        {{- class = class + " is-current" -}}
      {{- end -}}
      <li>
      {{- if .Index != 0 -}}
        <a href="{{ .URL }}" class="{{ class }}"
        aria-label="Go to page {{ .Index }}">{{ .Index }}</a>
      {{- else -}}
        <span class="pagination-ellipsis">&hellip;</span>
      {{- end -}}
      </li>
    {{- end -}}
    </ul>
  </nav>
{{- end -}}
