{{ extends "app.gohtml" }}

{{ define "content_class" }}content-block{{ end }}

{{ define "aside" }}
<aside class="sidebar">
<h3>User settings</h3>
<ul>
  <li><a href="{{ urlFor $ "/profile" }}">Profile</a></li>
  <li><a href="{{ urlFor $ "/profile/password" }}">Password</a></li>
  <li><a href="{{ urlFor $ "/profile/tokens" }}">API Tokens</a></li>
</ul>
</aside>
{{ end }}
