{{ extends "/app" }}

{{ block mainClass() }}content-block{{ end }}

{{ block mainAside() }}
<aside class="layout:sidebar">
<h3 class="sidebar:title">User settings</h3>
<ul>
  <li><a class="sidebar:link" href="{{ urlFor(`/profile`) }}"
   data-current="{{ pathIs(`/profile`) }}">Profile</a></li>
  <li><a class="sidebar:link" href="{{ urlFor(`/profile/password`) }}"
   data-current="{{ pathIs(`/profile/password`) }}">Password</a></li>
  {{ if hasPermission("/profile/tokens", "read") -}}
  <li><a class="sidebar:link" href="{{ urlFor(`/profile/tokens`) }}"
   data-current="{{ pathIs(`/profile/tokens`, `/profile/tokens/*`) }}">API Tokens</a></li>
  {{- end }}
</ul>
</aside>
{{ end }}
