{*
SPDX-FileCopyrightText: © 2021 Olivier Meunier <olivier@neokraft.net>

SPDX-License-Identifier: AGPL-3.0-only
*}
{{ extends "./base" }}
{{ import "/_libs/forms" }}

{{ block title() }}{{ gettext("My profile") }}{{ end }}

{{ block mainContent() }}
<h1 class="title text-h2">{{ yield title() }}</h1>

<form action="{{ urlFor() }}" method="post">
  {{ yield formErrors(form=.Form) }}
  {{ yield csrfField() }}

  {{ yield textField(field=.Form.Get("username"),
                     required=true,
                     label=gettext("Username"),
                     class="field-h") }}

  {{ yield textField(field=.Form.Get("email"),
                     type="email",
                     required=true,
                     label=gettext("Email Address"),
                     class="field-h") }}

  {{ yield selectField(field=.Form.Get("settings_lang"),
                       required=true,
                       label=gettext("Language"),
                       class="field-h") }}

  <p class="btn-block">
    <button class="btn btn-primary" type="submit">{{ gettext("Save") }}</button>
  </p>
</form>

<div class="mt-8">
  <h3 class="title text-xl mb-2">{{- yield icon(name="o-info", class="svgicon text-primary-dark") -}} Translate Readeck</h3>
  <p>You couldn't find your own language or you'd like to improve an existing translation?</p>
  <p>You can help with <a class="link" target="_blank" href="https://readeck.org/en/contribute#translations">translating Readeck.</a></p>
</div>


{{ end }}
