{{ extends "./base" }}
{{ import "/_libs/forms" }}

{{ block title() }}Password{{ end }}

{{ block mainContent() }}
<h1 class="title">Change your password</h1>

<form action="{{ urlFor() }}" method="post">
  {{ yield formErrors(form=.Form) }}
  {{ yield csrfField() }}

  {{ yield textField(
    field=.Form.Fields.current,
    type="password",
    name="current",
    label="Current password",
    class="horizontal",
  ) }}

  {{ yield textField(
    field=.Form.Fields.password,
    type="password",
    name="password",
    label="New password",
    class="horizontal",
    help="must be at least 8 characters long",
    controlAttrs=attrList("data-controller", "pass-reveal",
                          "data-pass-reveal-icon-show-value", "o-show",
                          "data-pass-reveal-icon-hide-value", "o-hide"),
    inputAttrs=attrList("data-pass-reveal-target", "field"),
  ) }}

  <p><button type="submit">Save</button></p>
</form>

{{ end }}
