{*
SPDX-FileCopyrightText: © 2021 Olivier Meunier <olivier@neokraft.net>

SPDX-License-Identifier: AGPL-3.0-only
*}
{{ extends "./base" }}
{{ import "/_libs/forms" }}

{{ block title() }}{{ gettext("API Token") }}{{ end }}

{{ block mainContent() }}
<h1 class="title text-h2">{{ yield title() }}</h1>

{{ if .Token.IsDeleted -}}
<form action="{{ urlFor(`.`, `delete`) }}" method="POST">
  {{ yield csrfField() }}
  <input type="hidden" name="_to" value="{{ currentPath }}" />
  {{- yield message() content -}}
      {{ gettext("Token will be removed in a few seconds.") }}&nbsp;
      <button class="btn btn-primary" name="cancel" value="1">{{ gettext("Cancel") }}</button>
  {{- end -}}
</form>
{{- end }}

<h2 class="title text-h3">{{ gettext("Properties") }}</h2>

<form class="mb-4" action="{{ urlFor() }}" method="post">
  {{ yield formErrors(form=.Form) }}
  {{ yield csrfField() }}

  <div class="field field-h">
    <label>{{ gettext("Token ID") }}</label>
    <div class="control">{{ .Token.UID }}</div>
  </div>

  {{ yield textField(
    field=.Form.Get("application"),
    required=true,
    label=gettext("Application"),
    class="field-h"
  ) }}

  {{ yield checkboxField(
    field=.Form.Get("is_enabled"),
    label=gettext("Enabled"),
    class="field-h",
  ) }}

  {{ yield dateField(
    field=.Form.Get("expires"),
    label=gettext("Expires on"),
    class="field-h",
  ) }}

  <h2 class="title text-h3">Roles</h2>

  <p class="my-4 max-w-xl">{{ gettext(`
    You can limit the permissions granted to this token by choosing one or more
    group of permissions below.<br>
    Leave all the choices blank to grant all your permissions to this token.
  `)|raw }}</p>

  {{ yield multiSelectField(
    field=.Form.Get("roles"),
    label=gettext("Roles"),
    class="field-h",
  ) }}

  <p class="btn-block">
    <button class="btn btn-primary" type="submit">{{ gettext("Save") }}</button>
    {{ if !.Token.IsDeleted -}}
      <button class="ml-auto btn-outlined btn-danger"
        formaction="{{ urlFor(`.`, `delete`) }}">{{ gettext("Delete token") }}</button></p>
    {{- end }}
  </p>
</form>

<h2 class="title text-h3">{{ gettext("API authentication") }}</h2>

<div class="w-full mb-6" data-controller="clipboard">
  <label class="font-semibold">{{ gettext("Your API token") }}</label>
  <button class="link" type="button" data-action="clipboard#copy">
    {{- yield icon(name="o-copy") -}}
  </button>
  <textarea readonly="1" class="form-textarea w-full h-24"
  data-clipboard-target="content">{{ .JWT }}</textarea>
</div>

<p class="mb-2">{{ gettext("You can use this token by passing it as an <strong>Authorization: Bearer</strong> HTTP header.")|raw }}</p>
<div class="w-full mb-4" data-controller="clipboard">
  <label class="font-semibold">HTTP Header</label>
  <button class="link" type="button" data-action="clipboard#copy">
    {{- yield icon(name="o-copy") -}}
  </button>
  <textarea readonly="1" class="form-textarea w-full h-28"
  data-clipboard-target="content">Authorization: Bearer {{ .JWT }}</textarea>
</div>
{{ end }}
