/config.toml
/data
/dist

/.vscode

/internal/assets/assets_vfsdata.go
/internal/templates/templates_vfsdata.go
/pkg/extract/fftr/siteconfig_vfsdata.go

/web/dist
/web/node_modules
/web/templates/base.gohtml

/web-spa/
/web-spa/node_modules
