{{ template "bookmarks:card" dict "ctx" $
                                  "item" .item
                                  "baseURL" "/bookmarks" }}

{{ template "bookmark:actions" dict "ctx" $
                                    "item" .item
                                    "baseURL" "/bookmarks" }}

{{ template "bookmark:labels" dict "ctx" $
                                   "item" .item
                                   "baseURL" "/bookmarks" }}
