{*
SPDX-FileCopyrightText: © 2023 Olivier Meunier <olivier@neokraft.net>

SPDX-License-Identifier: AGPL-3.0-only
*}
{{ extends "/base" }}

{{- block title() -}}{{ gettext("Share link") }}{{- end -}}

{{- block body() -}}
{{- yield quickAccessMenu(items=slice(
  slice("menu", "Menu"),
  slice("content", "Main content"),
)) -}}
<div class="flex h-screen  max-sm:flex-col">
  {{ include "/menu" }}

  <div class="flex-1 w-full max-w-3xl overflow-y-auto p-8" id="content">
    <h1 class="text-h2 title">{{ gettext("Share: %s", .Title) }}</h1>
    {{ include "./components/public_share" }}
  </div>
</div>
{{- end -}}
