{*
SPDX-FileCopyrightText: © 2021 Olivier Meunier <olivier@neokraft.net>

SPDX-License-Identifier: AGPL-3.0-only
*}
{{ extends "./base" }}
{{- import "/_libs/pagination" -}}
{{- import "./components/list_actions"}}

{{ block title() }}{{ gettext("Label") }} - {{ .Label }}{{ end }}

{{ block mainContent() -}}
<form action="" method="post" class="flex flex-wrap items-center gap-2"
 data-controller="inplace-input"
 data-inplace-input-hidden-class="hidden">
  {{ yield csrfField() }}
  <h1 class="flex flex-grow items-center gap-2 group title mb-0 text-h2 max-md:w-full">
    {* JS context *}
    <span class="font-normal"><a href="{{ urlFor(`/bookmarks/labels`) }}" class="link">Labels</a> /</span>
    <span class="no-js:hidden text-h2 mr-2 cursor-pointer hover:outline-std"
     data-inplace-input-target="editable">{{ .Label }}</span>
    {* Classic input field shown in no-JS *}
    <input type="text" name="name" value="{{ .Label }}"
     class="js:hidden form-input font-semibold w-full max-w-md"
     data-inplace-input-target="value" />
    <button type="submit" class="text-h2 text-gray-300 group-hover:text-primary group-fw:text-primary"
     data-inplace-input-target="button">
      {{- yield icon(name="o-pencil", svgClass="h-6 w-6", attrs=attrList("data-inplace-input-target", "iconOff")) -}}
      {{- yield icon(name="o-check-on", class="hidden", svgClass="h-6 w-6", attrs=attrList("data-inplace-input-target", "iconOn")) -}}
    </button>
  </h1>

  {{- yield list_actions() content -}}
    {{- if !.IsDeleted -}}
      <button class="btn-outlined btn-danger py-1"
      formaction="{{ url(.Label) }}/delete" formmethod="post"
      >{{ yield icon(name="o-trash") }} {{ gettext("Delete") }}</button>

      {{- if hasPermission("api:bookmarks", "export") -}}
        {{- yield export_menu(url=urlFor(`/api/bookmarks/export.epub`) + `?labels="` + url(.Label) + `"`) -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
</form>

{{- if .IsDeleted -}}
  <form action="{{ url(.Label) }}/delete" method="post" class="mb-4">
  {{ yield csrfField() }}
  {{- yield message(type="info") content -}}
    {{ gettext("Label will be removed in a few seconds.") }}&nbsp;
    <button class="btn btn-primary" name="cancel" value="1">{{ gettext("Cancel") }}</button>
  {{- end -}}
  </form>
{{- end -}}

<turbo-frame id="bookmark-list"
 data-controller="turbo-refresh"
 data-turbo-refresh-interval-value="10"
 data-turbo-refresh-on-value="[data-bookmark-deleted='true']">

  {{- include "./components/bookmark_list" -}}
</turbo-frame>
{{- end }}
