{{- define "_video" -}}
{{- if .Resources.image -}}
<div class="video-player" data-embed="{{ .Embed }}">
  <img alt="" src="{{ .Resources.image.Src }}"
   width="{{ .Resources.image.Width }}" height="{{ .Resources.image.Height }}">
</div>
{{- end -}}
{{- end -}}
