{*
SPDX-FileCopyrightText: © 2021 Olivier Meunier <olivier@neokraft.net>

SPDX-License-Identifier: AGPL-3.0-only
*}
{{- import "/_libs/common" -}}
{{- textRead := .ReadProgress == 100 ? gettext("Mark as unread") : gettext("Mark as read") }}
{{- textArch := .IsArchived ? gettext("Remove from archive") : gettext("Move to archive") -}}
{{- textFav := .IsMarked ? gettext("Remove from favorites") : gettext("Add to favorites") -}}

<turbo-frame id="bookmark-actions-{{ .ID }}">
<div class="flex my-4 items-center gap-2 print:hidden">
  {{- if .IsDeleted -}}
    <span class="text-red-700" data-deleted="true">
      {{ gettext("This bookmark will be removed in a few seconds.") }}
    </span>
    <form action="{{ urlFor(`/bookmarks`, .ID, `delete`) }}" method="post">
      {{ yield csrfField() }}
      <input type="hidden" name="cancel" value="1" />
      <input type="hidden" name="_to" value="{{ currentPath }}" />
      <button class="btn btn-primary ml-2" type="submit" name="is_deleted" value="0"
       data-controller="turbo-form"
       data-turbo-form-action-value="{{ urlFor(`/api/bookmarks`, .ID) }}"
       data-turbo-form-method-value="patch">{{ yield icon(name="o-undo") }}&nbsp;{{ gettext("Undo") }}</button>
    </form>
  {{- else -}}
    <form action="{{ urlFor(`/bookmarks`, .ID) }}" method="post"
    data-controller="turbo-form"
    data-turbo-form-action-value="{{ urlFor(`/api/bookmarks`, .ID) }}"
    data-turbo-form-method-value="patch"
    class="relative">
      {{ yield csrfField() }}
      <div class="btn-group btn-primary rounded-full">
        <button class="btn-outlined btn-primary pl-3" name="read_progress"
        value="{{ .ReadProgress == 100 ? 0 : 100 }}"
        title="{{ textRead }}"
        data-action="click->scroll-progress#setPosition"
        data-scroll-progress-position-param="{{ .ReadProgress == 100 ? 0 : 100 }}"
        data-scroll-progress-notify-param="0"
        >
          {{ yield icon(name=(.ReadProgress == 100 ? "o-check-on" : "o-check-off")) }}
        </button>
        <button class="btn-outlined btn-primary" name="is_marked" value="{{ .IsMarked ? 0 : 1 }}"
        title="{{ textFav }}">
          {{ yield icon(name=(.IsMarked ? "o-favorite-on" : "o-favorite-off")) }}
        </button>
        <button class="btn-outlined btn-primary" name="is_archived" value="{{ .IsArchived ? 0 : 1 }}"
        title="{{ textArch }}">
          {{ yield icon(name=(.IsArchived ? "o-archive-on" : "o-archive-off")) }}
        </button>
        <details class="menu" data-controller="menu">
          <summary class="btn-outlined btn-primary pr-3"
            title="{{ gettext(`Export and Share`) }}">
            {{ yield icon(name="o-share") }}
          </summary>
          <ul class="top-10 left-0">
            <li><a class="link" href="{{ urlFor(`/api/bookmarks`, .ID, `article.epub`) }}"
             data-turbo="false">{{ yield icon(name="o-download") }} {{ gettext("Download EPUB") }}</a></li>
            {{ if hasPermission("api:bookmarks", "export") -}}
            <li><button class="link" form="share-form" data-action="menu#toggle">{{ yield icon(name="o-link") }} {{ gettext("Share by Link") }}</button></li>
            {{- end }}
          </ul>
        </details>

      </div>
    </form>

    <form action="{{ urlFor(`/bookmarks`, .ID, `delete`) }}" method="post"
     class="ml-auto">
      {{ yield csrfField() }}
      <input type="hidden" name="_to" value="{{ currentPath }}" />
      <button class="btn-outlined btn-danger leading-none rounded-full w-9 h-9 px-2" name="is_deleted" value="1"
        title="{{ gettext(`Delete this bookmark`) }}"
        data-controller="turbo-form"
        data-turbo-form-action-value="{{ urlFor(`/api/bookmarks`, .ID) }}"
        data-turbo-form-method-value="patch">
        {{ yield icon(name="o-trash") }}
      </button>
    </form>
  {{- end -}}
</div>
</turbo-frame>
