{{- import "/_libs/common" -}}
{{- import "./card_blocks" -}}
{{- textArch := .IsArchived ? "Remove from archive" : "Move to archive" -}}
{{- textFav := .IsMarked ? "Remove from favorites" : "Add to favorites" -}}

{{- url := urlFor(`/bookmarks`, .ID) }}
{{- if !.Loaded -}}
  <turbo-frame id="bookmark-card-{{ .ID }}"
   data-controller="turbo-refresh"
   data-turbo-refresh-interval-value="2"
   data-turbo-refresh-on-value="[data-loading]"
   data-turbo-refresh-src-value="{{ urlFor(`/api/bookmarks`, .ID) }}">
  {{- yield card() content -}}
    {{- yield card_image(src=urlFor(`/assets/rnd`, .ID) + ".svg",
                         width=256, height=160) -}}
    <div class="flex-grow px-2 py-6 text-center">
      <div class="text-4xl" data-loading="true">
        {{- yield spinner() -}}
      </div>
    </div>
    <p class="p-2 text-sm font-semibold">Loading {{ .Site }}…</p>
  {{- end -}}
  </turbo-frame>
{{- else -}}
  <turbo-frame id="bookmark-card-{{ .ID }}">
  {{- yield card() content -}}
    <a href="{{ url }}" class="{{ if .IsDeleted }}opacity-50{{ end }}">
      {{ if isset(.Resources.thumbnail) -}}
        {{- yield card_image(src=.Resources.thumbnail.Src,
                             width=.Resources.thumbnail.Width,
                             height=.Resources.thumbnail.Height) -}}
      {{- else -}}
        {{- yield card_image(src=urlFor(`/assets/rnd`, .ID) + ".svg",
                             width=256, height=160) -}}
      {{- end }}
    </a>

    <div class="flex-grow p-2 flex flex-col">
      <h3 class="mb-2 leading-tight font-semibold {{ if .IsDeleted }}opacity-50{{ end }}
       group-hover:text-primary group-focus-within:text-primary"><a href="{{ url }}"
      data-turbo-frame="_top" class="hf:text-primary-dark">{{ default(.Title, "untitled") }}</a></h3>

      <span class="flex items-center mb-2 text-xs text-gray-600 {{ if .IsDeleted }}opacity-50{{ end }}">
        {{- if isset(.Resources.icon) -}}
          <img class="h-4 w-auto filter grayscale opacity-50
           group-hover:filter-none group-hover:opacity-100
           group-focus-within:filter-none group-focus-within:opacity-100"
           loading="lazy" src="{{ .Resources.icon.Src }}" alt=""
           width="{{ .Resources.icon.Width }}" height="{{ .Resources.icon.Height }}">
        {{- end }} <strong class="ml-2 mr-2 leading-none">{{ .SiteName }}</strong>
        {{ if .Type == "article" && .ReadingTime() > 0 }} •&nbsp;{{ .ReadingTime() }}&nbsp;min{{- end -}}
      </span>

      {{ if len(.Labels) -}}
      <ul class="inline-flex flex-wrap justify-start {{ if .IsDeleted }}opacity-50{{ end }}">{{ range .Labels -}}
        <li class="text-sm bg-gray-300 leading-none py-1 px-1 mr-1 rounded">{{ . }}</li>
      {{- end }}</ul>
      {{- end }}

      <div class="flex flex-grow items-end mt-2 text-lg">
        {{- if .IsDeleted -}}
          <span class="text-red-700 text-xs font-semibold">
            This bookmark will be removed in a few seconds.
          </span>
          <form action="{{ url }}" method="post">
            {{ yield csrfField() }}
            <input type="hidden" name="cancel" value="1" />
            <input type="hidden" name="_to" value="{{ currentPath }}" />
            <button type="submit" name="is_deleted" value="0"
              class="btn-primary whitespace-nowrap text-sm py-1"
              data-controller="turbo-form"
              data-turbo-form-action-value="{{ urlFor(`/api/bookmarks`, .ID) }}"
              data-turbo-form-method-value="patch">{{ yield icon(name="o-undo") }} Undo</button>
          </form>
        {{- else -}}
          <form action="{{url }}" method="post"
          class="flex-grow text-gray-200 group-hover:text-primary group-focus-within:text-primary"
          data-controller="turbo-form"
          data-turbo-form-action-value="{{ urlFor(`/api/bookmarks`, .ID) }}"
          data-turbo-form-method-value="patch">
            {{ yield csrfField() }}
            <input type="hidden" name="_to" value="{{ currentPath }}" />
            <button
              class="fill-current hf:text-primary-dark {{ if .IsMarked}}text-primary{{ end }}"
              name="is_marked" value="{{ .IsMarked ? 0 : 1 }}"
              title="{{ textFav }}">
              {{ yield icon(name=(.IsMarked ? "o-favorite-on" : "o-favorite-off")) }}
            </button>
            <button class="fill-current hf:text-primary-dark {{ if .IsArchived}}text-primary{{ end }}"
              name="is_archived" value="{{ .IsArchived ? 0 : 1 }}"
              title="{{ textArch }}">
              {{ yield icon(name=(.IsArchived ? "o-archive-on" : "o-archive-off")) }}
            </button>
          </form>

          <form action="{{ urlFor(`/bookmarks`, .ID, `delete`) }}" method="post"
            class="text-gray-200 group-hover:text-red-600 group-focus-within:text-red-700">
            {{ yield csrfField() }}
            <input type="hidden" name="_to" value="{{ currentPath }}" />
            <button class="fill-current hf:text-red-800" name="is_deleted" value="1"
              data-controller="turbo-form"
              data-turbo-form-action-value="{{ urlFor(`/api/bookmarks`, .ID) }}"
              data-turbo-form-method-value="patch"
              title="Delete this bookmark">
              {{ yield icon(name="o-trash") }}
            </button>
          </form>
        {{- end -}}
      </div>
    </div>

  {* </div> *}
  {{- end -}}
  </turbo-frame>
{{ end -}}
