<turbo-frame id="bookmark-labels-{{ .ID }}">
<form action="{{ urlFor(`/bookmarks`, .ID) }}" method="post"
 data-controller="turbo-form"
 data-turbo-form-action-value="{{ urlFor(`/api/bookmarks`, .ID) }}"
 data-turbo-form-method-value="patch">
  {{ yield csrfField() }}
  <input type="hidden" name="_to" value="{{ currentPath }}" />
  <button type="submit" style="display: none"></button>
  <div class="bookmark-labels">
    {{ include "./labels" . }}
    <div class="control">
      <input type="text" name="add_labels" placeholder="Add a new label"
       data-turbo-empty-submit-end="1" />
      <button type="submit">Add label</button>
    </div>
  </div>
</form>
</turbo-frame>
