{*
SPDX-FileCopyrightText: © 2024 Olivier Meunier <olivier@neokraft.net>

SPDX-License-Identifier: AGPL-3.0-only
*}
{{- block list_actions() -}}
  <div class="flex flex-nowrap items-center gap-2">
    <div
      class="btn-group"
      data-controller="styler-option request"
      data-styler-option-styler-outlet="[data-controller='styler']"
      data-request-url-value="{{ urlFor(`/profile/session`) }}"
      data-request-method-value="post"
    >
      <button class="btn-outlined py-1 data-[current]:btn-primary"
      title="{{ gettext(`Grid view`) }}"
      type="button" value="grid"
      data-choice-value="bookmark-list--grid"
      data-styler-option-target="choices"
      data-action="styler-option#setChoice"
      >{{ yield icon(name="o-grid") }}</button>
      <button class="btn-outlined py-1 data-[current]:btn-primary"
      title="{{ gettext(`Compact view`) }}"
      type="button" value="compact"
      data-styler-option-target="choices"
      data-choice-value="bookmark-list--compact"
      data-action="styler-option#setChoice"
      >{{ yield icon(name="o-list") }}</button>

      <input type="hidden"
        name="bookmark_list_display"
        value="{{ preferences.BookmarkListLayout().Value }}"
        data-styler-option-target="value"
        data-action="styler-option:setValue->request#fetch"
      >
    </div>

    {{- if isset(.OrderOptions) -}}
      <div class="relative flex items-center">
        <details class="menu btn-group"
        data-controller="menu"
        data-menu-offset-value="right">
          <summary class="btn-outlined py-1" role="button"
           title="{{ gettext(`Sort bookmarks`) }}">
            {{- yield icon(name="o-sort") -}}
          </summary>
          <ul class="top-8 right-0" role="menu" aria-label="{{ gettext(`Sort options`) }}">
            {{- range _, x := .OrderOptions -}}
              <li role="menuitem"
               {{ if x[0] == .CurrentOrder }}aria-current="page"{{ end }}><a class="link" href="{{ x[1] }}">{{ x[2] }}</a></li>
            {{- end -}}
          </ul>
        </details>
      </div>
    {{- end -}}

    {{- yield content -}}
  </div>
{{- end -}}

{{- block export_menu(url) -}}
  <div class="relative flex items-center">
    <details class="menu btn-group"
     data-controller="menu"
     data-menu-offset-value="right">
      <summary class="btn-outlined py-1" role="button"
       title="{{ gettext(`Import and export`) }}">
        {{- yield icon(name="o-menu-dots") -}}
      </summary>
      <ul class="top-8 right-0">
        {{- yield content -}}
        <li><a class="link" href="{{ url }}">{{- yield icon(name="o-download") }} {{ gettext("Download EPUB") }}</a></li>
      </ul>
    </details>
  </div>
{{- end -}}
