{*
SPDX-FileCopyrightText: © 2023 Olivier Meunier <olivier@neokraft.net>

SPDX-License-Identifier: AGPL-3.0-only
*}
{{ extends "./base" }}

{{ block title() }}{{ gettext("About Readeck") }}{{ end }}

{{ block mainContent() }}
  <div class="text-center my-4">
    <h1 class="title text-h1">{{ yield title() }}</h1>

      <p class="my-1"><strong>{{ gettext("Version:") }}</strong><br> {{ .Version }}</p>
      <p class="my-1"><strong>{{ gettext("Built Date:") }}</strong><br> {{ date(.BuildTime, "%A, %e %B %Y %H:%M:%S %Z") }}</p>
  </div>

  <h2 class="title text-h2">{{ gettext("System Information") }}</h2>

  <p>{{ gettext("Here are your current system information. Please include them if you report a bug.") }}</p>

  <ul class="my-4 p-2 text-sm font-mono bg-gray-100 border border-gray-200 rounded">
    <li>Version: {{ .Version }}</li>
    <li>Build Date: {{ .BuildTime }}</li>
    <li>Platform: {{ .OS }} / {{ .Arch }}</li>
    <li>Go Version: {{ .GoVersion }}</li>
    <li>Database Connector: {{ .DBConnecter }}</li>
    <li>Database Version: {{ .DBVersion }}</li>
  </ul>

  <h2 class="title text-h2">{{ gettext("Project") }}</h2>

  <table class="my-4 border-separate">
    <tr><td class="pr-4">{{ gettext("Main website") }}:</td>        <td><a target="_blank" class="link font-semibold" href="https://readeck.org/en/">https://readeck.org/</a></td></tr>
    <tr><td class="pr-4">{{ gettext("Sources and issues") }}:</td>  <td><a target="_blank" class="link" href="https://codeberg.org/readeck/readeck">https://codeberg.org/readeck/readeck</a></td></tr>
    <tr><td class="pr-4">{{ gettext("How to contribute") }}:</td>   <td><a target="_blank" class="link" href="https://readeck.org/en/contribute">https://readeck.org/en/contribute</a></td></tr>
    <tr><td class="pr-4">{{ gettext("Community Forum") }}:</td>     <td><a target="_blank" class="link" href="https://community.readeck.org/">https://community.readeck.org/</a></td></tr>
    <tr><td class="pr-4">{{ gettext("Matrix Chat") }}:</td>         <td><a target="_blank" class="link" href="https://matrix.to/#/#readeck:matrix.org">https://matrix.to/#/#readeck:matrix.org</a></td></tr>
  </table>

  <h2 class="title text-h2">{{ gettext("License") }}</h2>

  <p>{{ gettext(
    `Readeck is distributed under the terms of the license "%s"`,
    `<a href="https://www.gnu.org/licenses/agpl-3.0.html" class="link">GNU Affero General Public License v3.0.</a>`
  )|raw }}<br>
  {{ gettext("Here's a short summary of the license conditions:") }}</p>

  <table class="my-4 w-full table-fixed" lang="en-US">
    <thead>
      <tr>
        <th class="text-left">{{ gettext("Permissions") }}</th>
        <th class="text-left">{{ gettext("Conditions") }}</th>
        <th class="text-left">{{ gettext("Limitations") }}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="align-baseline">
          <ul>
            <li title="The licensed material and derivatives may be used for commercial purposes.">
              {{ yield icon(name="o-circle", class="svgicon text-green-700") }} {{ gettext("Commercial use") }}
            </li>
            <li title="The licensed material may be distributed.">
              {{ yield icon(name="o-circle", class="svgicon text-green-700") }} {{ gettext("Distribution") }}
            </li>
            <li title="The licensed material may be modified.">
              {{ yield icon(name="o-circle", class="svgicon text-green-700") }} {{ gettext("Modification") }}
            </li>
            <li title="This license provides an express grant of patent rights from contributors.">
              {{ yield icon(name="o-circle", class="svgicon text-green-700") }} {{ gettext("Patent use") }}
            </li>
            <li title="The licensed material may be used and modified in private.">
              {{ yield icon(name="o-circle", class="svgicon text-green-700") }} {{ gettext("Private use") }}
            </li>
          </ul>
        </td>
        <td class="align-baseline">
          <ul>
            <li title="Source code must be made available when the licensed material is distributed.">
              {{ yield icon(name="o-circle", class="svgicon text-blue-700") }} {{ gettext("Disclose source") }}
            </li>
            <li title="A copy of the license and copyright notice must be included with the licensed material.">
              {{ yield icon(name="o-circle", class="svgicon text-blue-700") }} {{ gettext("License and copyright notice") }}
            </li>
            <li title="Users who interact with the licensed material via network are given the right to receive a copy of the source code.">
              {{ yield icon(name="o-circle", class="svgicon text-blue-700") }} {{ gettext("Network use is distribution") }}
            </li>
            <li title="Modifications must be released under the same license when distributing the licensed material. In some cases a similar or related license may be used.">
              {{ yield icon(name="o-circle", class="svgicon text-blue-700") }} {{ gettext("Same license") }}
            </li>
            <li title="Changes made to the licensed material must be documented.">
              {{ yield icon(name="o-circle", class="svgicon text-blue-700") }} {{ gettext("State changes") }}
            </li>
          </ul>
        </td>
        <td class="align-baseline">
          <ul>
            <li title="This license includes a limitation of liability.">
              {{ yield icon(name="o-circle", class="svgicon text-red-700") }} {{ gettext("Liability") }}
            </li>
            <li title="This license explicitly states that it does NOT provide any warranty.">
              {{ yield icon(name="o-circle", class="svgicon text-red-700") }} {{ gettext("Warranty") }}
            </li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="my-4 prose border border-gray-200 bg-gray-100 rounded pt-4 px-4">
    <p>Readeck<br />
    Copyright &copy; 2020 Olivier Meunier<p>

    <p>This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published
    by the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.</p>

    <p>This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.</p>

    <p>You should have received a copy of the GNU Affero General Public License
    along with this program.
    If not, see <a href="https://www.gnu.org/licenses/" class="link">https://www.gnu.org/licenses/</a></p>
  </div>

  <h2 class="title text-h2">{{ gettext("Third-Party Licenses") }}</h2>

  <p class="my-4">{{ gettext("Readeck includes and/or uses the following open source assets:") }}</p>

  {{- range .Licenses -}}
  <h3 class="font-bold mt-4 mb-2">{{ .Name }}</h3>
  <ul>
    <li title="Author" class="flex gap-2 mb-1">{{ yield icon(name="o-pen") }} {{ .Author }}</li>
    <li title="License" class="flex gap-2 mb-1">{{ yield icon(name="o-license") }}
      <a href="https://spdx.org/licenses/{{ .License }}.html" class="link" rel="nofollow noopener noreferrer">{{ .License }}</a>
    </li>
    <li title="URL" class="flex gap-2 mb-1">{{ yield icon(name="o-link") }}
      <a href="{{ .URL}}" class="link" rel="nofollow noopener noreferrer">{{ .URL }}</a>
    </li>
    <li title="Copyright" class="flex gap-2 mb-1">{{ yield icon(name="o-copyright") }} <pre class="text-sm">{{ .Copyright}}</pre></li>
  </ul>
  {{- end -}}
{{ end }}
