{{ extends "/base" }}

{{ block title() }}Error{{ end }}

{{ block body() }}
<div class="app">
  <nav class="navbar">
    <div class="main-nav">
      <h1><a href="{{ urlFor(`/`) }}">Readeck</a></h1>
    </div>
  </nav>

  <div class="main">
    <main>
      <h1 class="title">Error</h1>

      {{ if .Status == 403 }}
      <p>Permission denied</p>
      {{ else if .Status == 404 }}
      <p>Page not found</p>
      {{ else }}
      <p>An error occured</p>
      {{ end }}
    </main>
  </div>
</div>

{{ end }}
