{{- inBookmarks := pathIs("/bookmarks", "/bookmarks/*") -}}
{{- inProfile := pathIs("/profile", "/profile/*") -}}
{{- inAdmin := pathIs("/admin", "/admin/*") -}}

<h1 class="text-center text-xl leading-none font-bold">Readeck</h1>


{{- if  hasPermission("/bookmarks", "read") -}}
  <div class="my-4 pt-4 border-t">
    <h2 class="sidebar:title" data-current="{{ inBookmarks }}"><a
    class="sidebar:link" href="{{ urlFor(`/bookmarks/unread`)}}">{{- yield icon(name=(inBookmarks ? "o-chevron-d" : "o-chevron-r")) }}
    Bookmarks</a></h2>
    {{- if inBookmarks -}}
    <ul class="mt-2">
      <li class="mb-1"><a class="sidebar:link"
        data-current="{{ pathIs(`/bookmarks`) }}"
      href="{{ urlFor(`/bookmarks`) }}">{{ yield icon(name="o-library") }} All</a></li>
      <li class="mb-1"><a class="sidebar:link"
        data-current="{{ pathIs(`/bookmarks/unread`) }}"
      href="{{ urlFor(`/bookmarks`, `unread`) }}">{{ yield icon(name="o-check-off") }} Unread</a></li>
      <li class="mb-1"><a class="sidebar:link"
        data-current="{{ pathIs(`/bookmarks/archives`) }}"
      href="{{ urlFor(`/bookmarks`, `archives`) }}">{{ yield icon(name="o-archive-off") }} Archive</a></li>
      <li class="mb-1"><a class="sidebar:link"
        data-current="{{ pathIs(`/bookmarks/favorites`) }}"
      href="{{ urlFor(`/bookmarks`, `favorites`) }}">{{ yield icon(name="o-favorite-off") }} Favorites</a></li>
    </ul>
    {{- end -}}
  </div>
{{- end -}}

{{- if !user.IsAnonymous() -}}
  {{- if  hasPermission("/profile", "read") -}}
    <div class="my-4 pt-4 border-t">
      <h2 class="sidebar:title" data-current="{{ inProfile }}"><a
      class="sidebar:link" href="{{ urlFor(`/profile`)}}">{{- yield icon(name=(inProfile ? "o-chevron-d" : "o-chevron-r")) }}
      {{ user.Username }}</a></h2>
      {{- if inProfile -}}
      <ul class="mt-2">
        <li class="mb-1"><a class="sidebar:link" href="{{ urlFor(`/profile`) }}"
        data-current="{{ pathIs(`/profile`) }}">{{ yield icon(name="o-user") }} Profile</a></li>
        <li class="mb-1"><a class="sidebar:link" href="{{ urlFor(`/profile/password`) }}"
        data-current="{{ pathIs(`/profile/password`) }}">{{ yield icon(name="o-key") }} Password</a></li>
        {{ if hasPermission("/profile/tokens", "read") -}}
          <li class="mb-1"><a class="sidebar:link" href="{{ urlFor(`/profile/tokens`) }}"
          data-current="{{ pathIs(`/profile/tokens`, `/profile/tokens/*`) }}">{{ yield icon(name="o-terminal") }} API Tokens</a></li>
        {{- end }}
      </ul>
      {{- end -}}
    </div>
  {{- end -}}

  {{- if  hasPermission("/admin", "read") -}}
    <div class="my-4 pt-4 border-t">
      <h2 class="sidebar:title" data-current="{{ inAdmin }}"><a
      class="sidebar:link" href="{{ urlFor(`/admin`) }}">{{- yield icon(name=(inAdmin ? "o-chevron-d" : "o-chevron-r")) }}
      Management</a></h2>
      {{- if inAdmin -}}
      <ul class="mt-2">
        <li class="mb-1"><a class="sidebar:link" href="{{ urlFor(`/admin/users`) }}"
      data-current="{{ pathIs(`/admin/users`, `/admin/users/*`) }}">{{ yield icon(name="o-user") }} Users</a></li>
      </ul>
      {{- end -}}
    </div>
  {{- end -}}

  <div class="my-4 pt-4 pl-2 border-t">
    <form class="block" action="{{ urlFor(`/logout`)}}" method="post">
      {{ yield csrfField() }}
      <button class="hf:text-primary font-semibold" type="submit">{{ yield icon(name="o-logout") }} Logout</button>
    </form>
  </div>
{{- end -}}

{{ yield mainNav() }}
