{{ extends "app.gohtml" }}

{{ define "content_class" }}content-block{{ end }}

{{ define "aside" }}
{{- $inUsers := (pathIs $ "/admin/users" "/admin/users/*") -}}
<aside class="sidebar">
<h3>Admin</h3>
<ul>
  <li><a class="{{ if $inUsers }}active{{ end }}" href="{{ urlFor $ "/admin/users" }}">Users</a></li>
</ul>
</aside>
{{ end }}
