{{ extends "./base" }}
{{ import "/_libs/forms" }}

{{ block title() }}New User{{ end }}

{{ block mainContent() }}
<h1 class="title">{{ yield title() }}</h1>

<form action="{{ urlFor() }}" method="post">
  {{ yield formErrors(form=.Form) }}
  {{ yield csrfField() }}

  {{ yield textField(field=.Form.Fields.username,
                     name="username",
                     label="Username",
                     class="horizontal",) }}

  {{ yield textField(field=.Form.Fields.email,
                     type="email",
                     name="email",
                     label="Email address",
                     class="horizontal",) }}

  {{ yield selectField(field=.Form.Fields.group,
                       name="group",
                       label="Group",
                       class="horizontal",
                       options=.Form.Fields.group.Value().Options(),) }}

  {{ yield textField(field=.Form.Fields.password,
                     type="password",
                     name="password",
                     label="Password",
                     class="horizontal",
                     controlAttrs=attrList("data-controller", "pass-reveal",
                          "data-pass-reveal-icon-show-value", "o-show",
                          "data-pass-reveal-icon-hide-value", "o-hide"),
                     inputAttrs=attrList("data-pass-reveal-target", "field"),
  ) }}

  <p><button type="submit">Save</button></p>
</form>

{{ end }}
