{{ extends "/app" }}
{{ import "/_libs/list" }}

{{ block title() }}Users{{ end }}

{{ block mainContent() }}
<h1 class="title text-h2">{{ yield title() }}</h1>

<p><a href="{{ urlFor(`.`, `add`)}}" class="btn-primary">Add a new user</a></p>

{{ if .Users }}
{{ include "/_libs/pagination" .Pagination }}

{{ yield list(class="my-6") content}}
{{ range .Users }}
  {{ yield list_item() content }}
    <div>
      <strong><a class="link" href="{{ urlFor(`.`, .ID) }}">{{ .Username }}</a></strong>
      ({{ .Group }})
    </div>
    <div class="text-sm">
      Created on: {{ date(.Created, "2006-01-02") }},
      Last update: {{ date(.Updated, "2006-01-02") }}
    </div>
  {{ end }}
{{ end }}
{{ end }}

{{ include "/_libs/pagination" .Pagination }}
{{ end }}

{{ end }}
