// SPDX-FileCopyrightText: © 2023 Joachim Robert <joachim.robert@protonmail.com>
//
// SPDX-License-Identifier: AGPL-3.0-only

.bookmark-list-container {
  @apply flex gap-4;

  @container layout-content (width <= 500px) {
    @apply flex-col;
  }

  .bookmark-list {
    @apply flex-grow;
  }

  .bookmark-filters {
    @apply bg-gradient-to-b from-gray-100 to-10% to-app-bg;
    @apply p-2;

    @container layout-content (width > 500px) {
      @apply border-l border-l-gray-200;
      @apply shrink-0;
      @apply order-last;
      width: calc(theme("spacing.col-5") - 1rem); // leaves 3 bookmarks in 1280px width
    }

    @media print {
      @apply hidden;
    }

    &--actions {
      @apply sticky bottom-0;
      @apply -mx-2 my-4 px-2 py-4 border-t;
      @apply bg-gradient-to-b from-gray-100 to-app-bg;
      @apply flex flex-wrap gap-2;

      & > * {
        @apply flex-grow;
      }
    }
  }

  details.bookmark-filters {
    & > summary {
      @apply hidden;
    }

    @at-root body.js &:not([open]) {
      display: none;
    }
    @at-root body.no-js &:not([open]) {
      @apply relative w-auto;
      @apply border-none p-0;
    }
  }
}

.bookmark-list {
  container-type: inline-size;
  container-name: bookmark-list;
}

// Common styles
.bookmark-card {
  &:hover,
  &:focus-within {
    @apply shadow;

    .bookmark-card--title a {
      @apply link;
    }

    .bookmark-card--progress {
      @apply filter-none opacity-100;
    }

    .bookmark-card--actions {
      form button,
      form a {
        @apply text-btn-primary hf:text-btn-primary-hover;

        &[name="is_deleted"] {
          @apply text-btn-danger hf:text-btn-danger-hover;
        }
      }
    }
  }

  &--img {
    grid-area: img;
  }

  &--ico {
    grid-area: ico;
  }

  &--progress {
    grid-area: progress;
    @apply opacity-70 stroke-gray-600 fill-gray-200/50;

    & > svg {
      @apply w-6 h-6 stroke-inherit fill-inherit;
    }
  }

  &--title {
    grid-area: title;
    text-wrap: balance;

    a {
      @apply overflow-hidden text-ellipsis;
      @apply block font-semibold text-left;
    }
  }

  &--spinner {
    grid-area: spinner;
    @apply p-2;
    @apply flex gap-2 items-center;
    @apply text-center;

    > .svgicon,
    .svgicon svg {
      @apply w-8 h-8;
    }

    > p {
      @apply overflow-hidden text-ellipsis;
      overflow-wrap: anywhere;
    }
  }

  &--labels {
    grid-area: labels;

    > ul {
      @apply inline-flex flex-wrap justify-start gap-x-1 gap-y-3 my-1;

      > li > a {
        @apply text-sm bg-gray-100 leading-none py-1 px-1.5 border rounded-md;
        @apply hf:bg-yellow-100;
      }
    }
  }

  &--meta {
    grid-area: meta;
  }

  &--actions {
    grid-area: actions;

    form {
      @apply text-gray-200;
    }

    button,
    a {
      @apply fill-current hf:text-btn-primary;

      &[name="is_marked"][value="0"],
      &[name="is_archived"][value="0"] {
        @apply text-primary;
      }

      &[name="is_deleted"] {
        @apply hf:text-btn-danger;
      }
    }

    .svgicon svg {
      width: 18px;
      height: 18px;
    }

    @screen touch {
      & {
        @apply mt-1;
        .svgicon svg {
          @apply w-6 h-6;
        }
      }
    }
  }

  &--deleted {
    grid-area: deleted;
    @apply flex flex-wrap gap-2 items-center;

    & > span {
      @apply flex-grow text-red-700 text-xs font-semibold;
    }

    form {
      @apply flex flex-grow;
    }

    button {
      @apply btn btn-primary whitespace-nowrap text-sm py-1 w-full;

      svg {
        @apply fill-current;
      }
    }
  }

  // Card in deleted state
  &[data-deleted="true"] {
    .bookmark-card--img,
    .bookmark-card--ico,
    .bookmark-card--title,
    .bookmark-card--meta,
    .bookmark-card--labels {
      @apply opacity-50;
    }
  }
}

// Grid display
.bookmark-list {
  .bookmark-list--grid {
    --col-number: 1;
    grid-template-columns: repeat(var(--col-number), minmax(0, 1fr));

    @container bookmark-list (width > 500px) {
      --col-number: 2;
    }

    @container bookmark-list (width > 610px) {
      --col-number: 3;
    }

    @container bookmark-list (width > 880px) {
      --col-number: 4;
    }

    @container bookmark-list (width >= 1240px) {
      --col-number: 6;
    }
  }
}

.bookmark-list--grid {
  @apply grid gap-4;

  .bookmark-card {
    display: grid;
    position: relative;
    grid-template-areas:
      "img img" "spinner spinner"
      "title title" "ico meta"
      "labels labels"
      "deleted deleted"
      "actions actions";
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto auto auto auto 1fr;

    height: 100%;

    @apply overflow-hidden rounded;

    > .svgicon {
      @apply absolute z-10 top-1 left-1 flex items-center justify-center;
      @apply w-6 h-6 rounded-full;
      @apply bg-black bg-opacity-25 text-white;
    }

    &--img {
      @apply block overflow-hidden;

      > img {
        @apply w-full aspect-video object-cover object-center filter;
      }
    }

    &--ico {
      @apply self-baseline;
      @apply pl-2;

      > img,
      .svgicon {
        @apply block w-4 h-auto;
        @apply filter grayscale opacity-50;
      }
    }

    &--title {
      @apply p-2;

      a::after {
        @apply absolute top-0 bottom-0 left-0 right-0;
        z-index: 1;
        content: "";
      }
    }

    &--spinner {
      @apply flex-col;
    }

    &--meta {
      @apply self-center;
      @apply px-2 overflow-x-clip overflow-y-hidden;
      @apply flex items-baseline gap-2;
      @apply text-xs text-gray-600;
      line-height: 0;

      > strong {
        @apply leading-none overflow-hidden text-ellipsis;
      }
    }

    &--labels {
      @apply px-2 pt-2 z-10;
    }

    &--actions {
      @apply self-end;
      @apply p-2;
      @apply z-10;

      @apply flex items-end gap-x-3;

      form {
        @apply inline-flex gap-x-2;
      }

      form:nth-of-type(1) {
        @apply flex-grow;
      }

      @screen touch {
        form {
          @apply gap-x-4;
        }
      }
    }

    &--deleted {
      @apply p-2 place-self-end z-10;
    }

    // Hover and focus on the card
    &:hover,
    &:focus-within {
      @apply shadow-md;

      .bookmark-card--img {
        > img {
          @apply contrast-105 brightness-95;
        }
      }

      .bookmark-card--ico {
        > img,
        .svgicon {
          @apply filter-none opacity-100;
        }
      }
    }

    &--progress {
      @apply absolute z-10 top-1 right-1 fill-black/40 stroke-white opacity-75;
    }
  }

  // Responsive states
  @container bookmark-list (width < 500px) and (width > 300px) {
    .bookmark-card {
      grid-template-areas:
        "img spinner title title"
        "img spinner ico meta"
        "img spinner labels labels"
        "img spinner deleted deleted"
        "img spinner actions actions";
      grid-template-columns: auto auto auto 1fr;
      @apply -ml-2;

      & > .svgicon {
        @apply left-3 top-3 w-5 h-5;
        & > svg {
          @apply w-4 h-4;
        }
      }

      &--progress {
        @apply left-16 top-3 w-5;
        & > svg {
          @apply w-5 h-5;
        }
      }

      &--img {
        @apply overflow-hidden w-20 ml-2 my-2;

        > img {
          @apply aspect-square rounded-md;
        }
      }

      &--meta {
        > strong {
          @apply flex-grow-0;
        }
      }

      &--spinner {
        @apply flex-row text-left;
      }

      &--title {
        text-wrap: auto;
      }
    }
  }
}

// Compact display
.bookmark-list--compact {
  .bookmark-card {
    display: grid;
    position: relative;
    grid-template-areas:
      "ico title title title actions deleted"
      "ico progress meta labels actions deleted"
      "ico . spinner spinner . .";
    grid-template-columns: auto auto auto 1fr auto auto;
    @apply mb-2 -mx-2 pb-2;
    @apply rounded;

    > .svgicon {
      @apply absolute z-10 top-6 left-4 flex items-center justify-center;
      @apply w-5 h-5 rounded-full;
      @apply bg-black bg-opacity-40 text-white;

      svg {
        @apply w-3.5 h-3.5;
      }
    }

    &--progress {
      @apply pt-1 pr-2 self-center;
      & > svg {
        @apply w-5 h-5;
      }
    }

    &--img {
      @apply hidden;
    }

    &--ico {
      @apply self-baseline;
      @apply py-2 pr-3 pl-2;

      > img,
      .svgicon,
      .svgicon svg {
        @apply w-6 h-6;
      }
    }

    &--title {
      @apply pt-2 pr-2;
    }

    &--meta {
      @apply self-baseline;
      @apply text-sm text-gray-600;
      @apply pt-1 pr-2;

      > strong {
        @apply overflow-hidden text-ellipsis;
      }
    }

    &--labels {
      @apply self-baseline;
      @apply pt-1;
    }

    &--actions {
      @apply flex items-end gap-x-3;
      @apply pt-2 pr-2;
      align-self: start;

      form {
        @apply inline-flex gap-x-3;
      }

      form:nth-of-type(1) {
        @apply flex-grow;
      }
    }

    &--deleted {
      @apply pt-2 pr-2;
      align-self: start;
    }

    // Responsive states
    @container bookmark-list (width <= 500px) {
      grid-template-areas:
        "ico spinner title title title"
        "ico spinner progress meta meta"
        "ico spinner labels labels labels"
        "ico spinner actions actions actions"
        "ico spinner deleted deleted deleted";
      grid-template-columns: auto auto auto 1fr auto;

      &--spinner {
        @apply text-left;
      }
    }
  }
}
