// SPDX-FileCopyrightText: © 2023 Olivier Meunier <olivier@neokraft.net>
//
// SPDX-License-Identifier: AGPL-3.0-only

@layer components {
  .bookmark-container {
    @apply col-start-2 col-span-2;
    @apply flex;

    @at-root body & {
      @media print {
        @apply block max-w-none w-full h-auto overflow-visible;
        @apply mb-8 border-b border-l-0;
      }
    }

    @at-root body.no-js & {
      @screen max-lg {
        @apply flex-col;
      }
    }
  }

  .bookmark-content {
    container-name: bookmark-content;
    container-type: inline-size;

    .bookmark-header,
    .bookmark-article {
      margin-left: auto;
      margin-right: auto;
    }

    @apply max-w-full;
    @apply grow order-first;
    @apply px-6 pb-8;
    @apply bg-transparent;

    @screen lg {
      @apply min-h-screen;
    }

    @screen max-lg {
      @apply px-4 grow;
    }

    @media print {
      @apply overflow-visible;
      @apply max-w-none;
      @apply px-0;
    }

    rd-annotation {
      border-bottom-width: 1px;
      border-bottom-style: solid;
    }

    .bookmark-article {
      @media print {
        columns: 2;
        column-gap: 2rem;
        orphans: 5;
        widows: 5;
        height: 100%;
        column-fill: auto;

        img {
          width: auto;
          display: inline;
        }

        img {
          break-inside: avoid;
          break-before: auto;
          break-after: auto;
        }
      }

      .prose {
        p,
        li,
        dd {
          @media print {
            text-align: justify;
          }
        }
      }
    }
  }

  .bookmark-topbar {
    @apply sticky top-0 z-20 h-topnav;
    @apply flex flex-col;
    @apply border-b border-b-gray-200;
    @apply bg-app-bg bg-opacity-95 text-gray-400 hfw:text-gray-600;
    @apply print:hidden;

    // When scrolling down, adapt to the topnav disapearing
    @screen max-sm {
      @apply top-topnav transition-all duration-500;

      @at-root body.scrolled-down & {
        @apply -top-topnav;
        top: calc(0 - theme("space.topnav") + theme("space[1]"));
      }
    }

    progress {
      -webkit-appearance: none;
      appearance: none;

      @apply w-full h-0.5 bg-transparent;

      &::-webkit-progress-bar {
        @apply bg-transparent;
      }

      &::-moz-progress-bar {
        @apply bg-gradient-to-r from-blue-700 to-blue-500;
      }

      &::-webkit-progress-value {
        @apply bg-gradient-to-r from-blue-700 to-blue-500;
      }
    }
  }

  .bookmark-sidebar {
    @apply w-col-6 h-screen sticky overflow-y-auto z-30;
    @apply border-l border-l-gray-200;

    @screen lg {
      @apply top-0;
    }

    @screen max-lg {
      @apply fixed top-0 right-0 w-full max-w-col-10 z-50;
      @apply bg-app-bg shadow-panel-r;
    }

    @media print {
      @apply static max-w-none w-full h-auto overflow-visible;
      @apply mb-8 border-b border-l-0;
    }
  }

  body.no-js .bookmark-sidebar {
    @screen max-lg {
      & {
        @apply block static shadow-none w-auto max-w-none h-auto;
      }
    }
  }
}

.bookmark-display {
  &--width-regular {
    max-width: 48rem;
  }
  &--width-wide {
    max-width: 56rem;

    @container bookmark-content (width < 56rem) {
      max-width: 52rem;
    }
    @container bookmark-content (width < 54rem) {
      max-width: 50rem;
    }
  }
  &--width-regular,
  &--width-wide {
    @container bookmark-content (width < 48rem) {
      max-width: 42rem;
    }
    @container bookmark-content (width < 44rem) {
      max-width: 40rem;
    }
    @container bookmark-content (width < 42rem) {
      max-width: 37rem;
    }
  }
  &--width-full {
    max-width: 100%;
  }

  &--size-1 {
    @apply text-sm;
  }
  &--size-2 {
    @apply text-base;
  }
  &--size-3 {
    @apply text-lg;
  }
  &--size-4 {
    @apply text-xl;
  }
  &--size-5 {
    @apply text-2xl;
  }
  &--size-6 {
    @apply text-3xl;
  }

  &--leading-1 {
    @apply leading-[1.1];
  }
  &--leading-2 {
    @apply leading-tight;
  }
  &--leading-3 {
    @apply leading-normal;
  }
  &--leading-4 {
    @apply leading-relaxed;
  }
  &--leading-5 {
    @apply leading-loose;
  }
  &--leading-6 {
    @apply leading-[2.25];
  }

  &--font-lora {
    @apply font-lora underline-offset-[3px];
  }
  &--font-public-sans {
    @apply font-public-sans;
  }
  &--font-merriweather {
    @apply font-merriweather underline-offset-[3px];
  }
  &--font-inter {
    @apply font-inter;
  }
  &--font-plex-serif {
    @apply font-plex-serif underline-offset-[3px];
  }
  &--font-literata {
    @apply font-literata underline-offset-[3px];
  }
  &--font-luciole {
    @apply font-luciole decoration-1;
  }
  &--font-atkinson-hyperlegible {
    @apply font-atkinson-hyperlegible underline-offset-[3px];
  }
  &--font-jetbrains-mono {
    @apply font-jetbrains-mono;
  }

  &--align-justify {
    p,
    li,
    dd {
      text-align: justify;
    }
  }

  &--hyphen-auto {
    p,
    li,
    dd {
      hyphens: auto;
    }
  }
}
